body {font-family: Arial, Helvetica, sans-serif;margin: 0px;;margin-top: 50px}
form {border: 3px solid #f1f1f1;}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
td button{
  margin: 0px;
}

.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/*this for button right button that do additions in all page*/
.addPerson { 
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  
}

/*header pages*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

/*table that display data in Persons pages*/
table {
  width: 100%;
  border-collapse: collapse;/*collapse text and border line as one line */

}
table, th, td {
  border: 1px solid black;
  padding: 10PX;
}
h2{
  padding: 15px;
}
.cancel {
  background-color: red;
}
/*text area modifications*/
textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/* When the textarea gets focus, do something */
textarea:focus {
  background-color: #ddd;
  outline: none;
}
.form-container , #myForm{

  max-width: 300px;
  padding: 10px;
  background-color: white;
}
/* The popup chat - hidden by default */
.popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  
}
